<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ucsbstudent.phillip.gauchocalendar_android">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_text"
        android:label="@string/app_display_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity
            android:name=".OpenScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/GC"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" />
        <activity android:name=".HomeScreen" />
        <activity android:name=".InputEvents" />
        <activity android:name=".JonsActivity" />
        <activity android:name=".LaurasActivity" />
        <activity android:name=".ChristiansActivity" />
        <activity android:name=".MichaelsActivity" />
        <activity android:name=".Information" />
        <activity android:name=".StudentLogin"></activity>
    </application>

</manifest>